:root {
  --main-color: rgb(5, 129, 129);
  --delete-color: rgb(189, 19, 87);
  --form-field-background: #f4f8fa90;
}

body {
  background: #030303d7;
  overflow-x: hidden;
}

main {
  position: relative;
}
.container {
  width: 50%;
}
.container h1,
.container h3 {
  color: var(--main-color);
}

.container form input,
.container form textarea {
  background-color: var(--form-field-background);
  box-shadow: inset 8px 8px 8px #e4e4e437, inset -8px -8px 8px #ffffff;
}
.container form .btn {
  background-color: var(--main-color);
  color: white;
}
.alert {
  position: fixed;
  top: 48px;
  right: 0px;
  transform: translateX(-30%);
  transition: transform 0.5s ease-in-out;
  height: fit-content;
}
#edit {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
#delete {
  border: 1px solid var(--delete-color);
  color: var(--delete-color);
}
#task {
  background-color: var(--form-field-background);
  box-shadow: inset 8px 8px 8px #e4e4e437, inset -8px -8px 8px #ffffff;
}
.alert {
  transform: translateX(300%);
  transition: transform 0.3s ease-in-out;
  bottom: -80px;
  right: -40px;
}
.alert.active {
  transform: translateX(-100%);
}

.task.hidden {
  transform: translateX(-200%);
  transition: transform 0.5s ease-in-out;
}

.task.completed .card {
  background-color: #e0f7fa; /* Light blue background for completed tasks */
  text-decoration: line-through; /* Strikethrough text */
}

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
  }
}
