:root {
  --main-color: rgb(5, 129, 129);
  --delete-color: rgb(189, 19, 87);
  --edit-color: rgb(42, 126, 165);
  --form-field-background: #f4f8fa90;
  --completed-color: rgb(206, 143, 17);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #030303d7;
  overflow-x: hidden;
}

main {
  position: relative;
}
.container {
  width: 50%;
  display: grid;
}

.container .tasks-section h1,
.container .tasks-section h3 {
  color: var(--main-color);
}
.tasks-section {
  display: grid;
  gap: 20px;
}
.container .tasks-section form input,
.container .tasks-section form textarea {
  background-color: var(--form-field-background);
  box-shadow: inset 8px 8px 8px #e4e4e437, inset -8px -8px 8px #ffffff;
}
.container .tasks-section form .btn {
  background-color: var(--main-color);
  color: white;
}

.container .tasks-section #tasks-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  margin-inline: 0px;
}
.container .tasks-section .task {
  background-color: white;
  border-radius: 10px;
  margin: 4px;
}
.container .tasks-section .task .card.completed {
  opacity: 0.6;
  background-color: red;
}
.task.hidden {
  transform: translateX(-500%);
  transition: transform 0.7s ease-in-out, opacity 0.3s ease-in-out;
}

#edit {
  border: 1px solid var(--edit-color);
  color: var(--edit-color);
}
#edit:hover {
  background-color: var(--edit-color);
  color: white;
}
#delete {
  border: 1px solid var(--delete-color);
  color: var(--delete-color);
}
#delete:hover {
  background-color: var(--delete-color);
  color: white;
}
.edit-btn.completed {
  display: none;
}

.alert {
  position: fixed;
  top: 48px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  min-width: 200px;
  text-align: center;
}
.alert.active {
  transform: translateX(-90%);
}

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
  }
}
